<p>Mercedes Ritchie Lackey (born June 24, 1950) is an American writer of fantasy novels. Many of her novels and trilogies are interlinked and set in the world of Velgarth, mostly in and around the country of Valdemar. Her Valdemar novels include interaction between human and non-human protagonists with many different cultures and social mores.

    Her other main world is one much like our own, but it includes clandestine populations of elves, mages, vampires, and other mythical beings. The Bedlam's Bard books describe a young man with the power to work magic through music; the SERRAted Edge books are about racecar driving elves; and the Diana Tregarde thrillers center on a Wiccan who combats evil.
    
    She has also published several novels re-working well-known fairy tales set in a mid-19th to early 20th century setting in which magic is real, although hidden from the mundane world. These novels explore issues of ecology, social class, and gender roles.
    
    Lackey has published over 140 books and writes novels at a rate of 5.5 per year on average. She has been called one of the "most prolific science fiction and fantasy writers of all time."[2]</p>

    <p>Mercedes Ritchie Lackey (born June 24, 1950) is an American writer of fantasy novels. Many of her novels and trilogies are interlinked and set in the world of Velgarth, mostly in and around the country of Valdemar. Her Valdemar novels include interaction between human and non-human protagonists with many different cultures and social mores.

        Her other main world is one much like our own, but it includes clandestine populations of elves, mages, vampires, and other mythical beings. The Bedlam's Bard books describe a young man with the power to work magic through music; the SERRAted Edge books are about racecar driving elves; and the Diana Tregarde thrillers center on a Wiccan who combats evil.
        
        She has also published several novels re-working well-known fairy tales set in a mid-19th to early 20th century setting in which magic is real, although hidden from the mundane world. These novels explore issues of ecology, social class, and gender roles.
        
        Lackey has published over 140 books and writes novels at a rate of 5.5 per year on average. She has been called one of the "most prolific science fiction and fantasy writers of all time."[2]</p>